[Unit]
Description=ADS-B Radar Processor
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/yildizan/radar.py
WorkingDirectory=/home/yildizan
Restart=always
RestartSec=5
User=yildizan

[Install]
WantedBy=multi-user.target
